.header {
  background-color: #0594a9;
  color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
  margin-bottom: 1rem;
  margin-left: 2rem;
  width: 100%; /* Set width to 50% */
  display: inline-block; /* Set display to inline-block */
}
